{% block dashboard %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <input type="hidden" id="render-url" data-url="{{ path('ajax_render_widgets') }}"/>
    <input type="hidden" id="js-globalSettings" data-ng-scope="globalSettings" value="{{ globalSettings|json_encode }}"/>

    <div class="dashboard-widgets">

        <div class="small-widgets row">
            {% for widget in staticWidgets %}
                <div  data-widget="{{ widget }}" class="widget-field small-widget">{{ renderWidget(widget) }} </div>
            {% endfor %}
        </div>

        <div class="dragable-widgets row" id="dragable-widgets" data-url="{{ path('change_order_widget',{order:'0'}) }}">

            {% for widget in showedWidgets %}
                {% set renderedWidget =  renderWidget(widget,{"globalSettings": globalSettings}) %}
                {% if renderedWidget != null %}
                    <div  data-widget="{{ widget }}"
                          class="widget-field regular-widget w-{{ getWidgetSize(widget) }} {{ getWidgetStyle(getWidgetSize(widget)) }}" >
                        {{ include(template_from_string(renderedWidget)) }}
                    </div>
                {% endif %}
            {% endfor %}

        </div>

    </div>


    <div class="people-item">
        <a href="#show-widgets-form" class="modal-a button button-secondary">MODAL</a>

        <!--DESKTOP-->
        <div id="show-widgets-form" class="modal-dialog small-hidden">
            <a href="#close" title="Close" class="full-width-close"></a>

                <div class="row relative margin-0-auto margin-top-5p" style="padding-bottom: 0">
                    <a href="#close" title="Close" class="cross-link">
                        <i class="trinity trinity-close"></i>
                    </a>
                    <div class="span-none-padding-medium-24">
                        <header>
                            <h2>
                                Dashboard - settings
                            </h2>
                            <p>
                                Select your favourite widgets.
                            </p>
                        </header>
                    </div>
                </div>

                <div class="row margin-0-auto" style="padding-bottom: 0">
                    {{ form(form, {'action': path('widget-manage'), 'method': 'POST' } ) }}
                </div>

            </div>


        </div>
    </div>

{% endblock %}
