{% block dashboard %}
    <input type="hidden" id="render-url" data-url="{{ path('ajax_render_widgets') }}"/>
    <input type="hidden" id="js-globalSettings" data-ng-scope="globalSettings" value="{{ globalSettings|json_encode }}"/>

    <div class="dashboard-widgets">

        <div class="small-widgets row">
            {% for widget in staticWidgets %}
                <div  data-widget="{{ widget }}" class="widget-field small-widget">{{ renderWidget(widget) }} </div>
            {% endfor %}
        </div>

        <div class="dragable-widgets row" id="dragable-widgets" data-url="{{ path('change_order_widget',{order:'0'}) }}">

            {% for widget in showedWidgets %}
                {% set renderedWidget =  renderWidget(widget,{"globalSettings": globalSettings}) %}
                {% if renderedWidget != null %}
                    <div  data-widget="{{ widget }}"
                          class="widget-field regular-widget w-{{ getWidgetSize(widget) }} {{ getWidgetStyle(getWidgetSize(widget)) }}" >
                        {{ include(template_from_string(renderedWidget)) }}
                    </div>
                {% endif %}
            {% endfor %}

        </div>

    </div>


    <input type="checkbox" id="modal-01" hidden class="modal-input">
    <label for="modal-01" id="show-widgets-form" class="modal-label button button-primary">Modal</label>
    <div class="modal-wrapper">
        <label for="modal-01" class="modal-close-full-width"></label>
        <div class="modal-content">
            <label for="modal-01" class="modal-close">
                <i class="trinity trinity-close"></i>
            </label>
            <div class="row">
                <div class="grid-auto">
                    <h2>Dashboard - settings</h2>
                    <p>Select your favorite widgets</p>
                </div>
            </div>
            <div id="show-widgets-form" class="row">
                {{ form_start(form, {'action': path('widget-manage'), 'method': 'POST' }) }}
                <div id="dashboard">
                    {{ form_row(form.widgets) }}
                    {{ form_row(form.expandedWidgets) }}

                    <div class="">
                        <div class="">
                            {{ form_widget(form.hideEmpty) }}
                        </div>
                        <div class="">
                            {{ form_label(form.hideEmpty) }}
                        </div>
                    </div>

                        {{ form_row(form.submit) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
