{% block dashboard %}
    <input type="hidden" id="render-url" data-url="{{ path('ajax_render_widgets') }}"/>
    <input type="hidden" id="js-globalSettings" data-ng-scope="globalSettings" value="{{ globalSettings|json_encode }}"/>

    <div class="dashboard-widgets">

        <div class="small-widgets row">
            {% for widget in staticWidgets %}
                <div  data-widget="{{ widget }}" class="widget-field grid medium-6">{{ renderWidget(widget) }} </div>
            {% endfor %}
        </div>

        <div class="dragable-widgets row" id="dragable-widgets" data-url="{{ path('change_order_widget',{order:'0'}) }}">

            {% for widget in showedWidgets %}
                {% set renderedWidget =  renderWidget(widget,{"globalSettings": globalSettings}) %}
                {% if renderedWidget != null %}
                    <div  data-widget="{{ widget }}"
                          class="grid medium-{{ getWidgetSize(widget) }} widget-field regular-widget w-{{ getWidgetSize(widget) }} {{ getWidgetStyle(getWidgetSize(widget)) }}" >
                        {{ include(template_from_string(renderedWidget)) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <input type="checkbox" id="modal-widgets" hidden class="modal-input">
    <div class="modal-wrapper">
        <label for="modal-widgets" class="modal-close-full-width"></label>
        <label for="modal-search" class="modal-close-button button button-close">
            <i class="mdi mdi-close-circle"></i> <span>Close</span>
        </label>
        <div class="modal-content">
            <div class="row">
                <div class="grid-auto">
                    <h3>Dashboard - settings</h3>
                    <p>Select your favorite widgets</p>
                </div>
            </div>
            <div id="show-widgets-form">
                {{ form_start(form, {'action': path('widget-manage'), 'method': 'POST' }) }}
                <div id="dashboard">
                    <div class="row">
                        <div class="grid medium-20 small-18 mini-20">
                            <div class="left">
                                {{ form_row(form.widgets) }}
                            </div>
                        </div>
                        <div class="grid medium-4 small-6 mini-2">
                            <div class="right">
                                {{ form_row(form.expandedWidgets) }}
                            </div>
                        </div>
                    </div>

                    <div class="large-24">
                        <div class="large-24">
                            {{ form_widget(form.hideEmpty) }}
                        </div>
                        <div class="large-24">
                            {{ form_label(form.hideEmpty) }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        {{ form_row(form.submit) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
