{% block grid %}

    {% block widget_start %}
        <div class="trinity-widget-wrapper">
        <section class="trinity-widget" style="height: 100%">
    {% endblock %}


    {% block widget_contnet_wrapper %}
        <a class="pull-left">
            <i class="{{ icon }} widget-small-icon"></i>
        </a>
        {% block widget_title %}
            <h6 class="widget-small-description">{{ title }}</h6>
            <h3 class="pull-left widget-title">{{ titleCounter }}</h3>
        {% endblock %}
        {#<main class="row content-box">#}
            {#<div class="content" >#}
                {#<div class="row" style="background-color: #eaeaea;height: 5px" >#}
                    {#<div style="background-color: {{ color }};height: 5px; width: {{percent}}%" ><span style="color: transparent">.</span></div>#}
                {#</div>#}
            {#</div>#}
        {#</main>#}
    {% endblock %}


    {% block widget_footer_wrapper %}
        <footer class="row">
            {% block widget_footer %} {% endblock %}
        </footer>
    {% endblock %}


    {% block widget_end %}
        </section>
        </div>
    {% endblock %}
{% endblock %}

