{% block grid %}

    {% block widget_start %}
        <div class="span-none-padding-large-{{ size }} ">
        <section class="trinity-widget">
    {% endblock %}

    {% block widget_header %}

        <header class=" row">
            {% block widget_title %}
                {% if routeName %}
                    <a href="{{ path(routeName) }}{{ gridParameters }}">
                        <h3 class="pull-left widget-title">{{ title }}</h3>
                    </a>
                {% else %}
                    <h3 class="pull-left widget-title">{{ title }}</h3>
                {% endif %}

            {% endblock %}

            {% block widget_remove %}
                {% if removable %}
                    {#widgetCloser is use by JS#}
                    <a class="pull-right close widgetCloser"  href="{{ getWidgetUrl('remove', widget, app.user) }}">
                        <i class="tiecons tiecons-cross-angular"></i> </a>
                {% endif %}
            {% endblock %}
            {% block widget_resize %}
                {% if resizable %}
                    <a class="pull-right close widgetResizer" href="{{ getWidgetUrl('resize', widget, app.user) }}">
                        <i class="tiecons tiecons-card"></i>
                    </a>
                {% endif %}
            {% endblock %}
            {#todo Style still in progress, waiting for Design#}
            <div class="handle" style="display: block; width:100%;height: 50px;cursor: move;background-color: black; opacity: 0.2"></div>

        </header>

    {% endblock %}


    {% block widget_contnet_wrapper %}
        <main class="row content-box">
            <div class="content">
                {{ block('widget_contnet') }}
            </div>
        </main>
    {% endblock %}


    {% block widget_footer_wrapper %}
        <footer class="row">
            {% block widget_footer %} {% endblock %}
        </footer>
    {% endblock %}


    {% block widget_end %}
        </section>
        </div>
    {% endblock %}
{% endblock %}

