{% block grid %}

    {% block widget_start %}
        <div class="span-none-padding-large-{{ size }}" id="widget-section-{{ title | replace({' ': "-"}) }}">
        <section class="trinity-widget" >
    {% endblock %}

    {% block widget_header %}

        <header class=" row">
            {% block widget_title %}
                {% if routeName %}
                    <a href="{{ path(routeName) }}{{ gridParameters }}">
                        <h3 class="pull-left widget-title">{{ title }}</h3>
                    </a>
                {% else %}
                    <h3 class="pull-left widget-title">{{ title }}</h3>
                {% endif %}

            {% endblock %}

            {% block widget_remove %}
                {% if removable %}
                    {#widgetCloser is use by JS#}
                    {% if app.user %}
                        <a class="close widgetCloser" id="close-{{ title | replace({' ': "-"}) }}" href="{{ getWidgetUrl('remove', widget, app.user) }}">
                            <i class="trinity trinity-pin"></i>
                        </a>
                    {% endif %}
                {% endif %}
            {% endblock %}
            {% block widget_resize %}
                {% if resizable %}
                    <a class="close widgetResizer" id="resize-{{ title | replace({' ': "-"}) }}" href="{{ getWidgetUrl('resize', widget, app.user) }}">
                        {% if size == 24 %}
                            <i class="trinity trinity-arrow-right color-white rotate-180" id="resize-icon-{{ title | replace({' ': "-"}) }}"></i>
                        {% else %}
                            <i class="trinity trinity-arrow-right color-white" id="resize-icon-{{ title | replace({' ': "-"}) }}"></i>
                        {% endif %}
                    </a>
                {% endif %}
            {% endblock %}
            <div class="handle" id="handle-{{ title | replace({' ': "-"}) }}" ></div>

        </header>

    {% endblock %}


    {% block widget_contnet_wrapper %}
        <main class="row content-box" ">
            <div class="content">
                {{ block('widget_contnet') }}
            </div>
        </main>
    {% endblock %}


    {% block widget_footer_wrapper %}
        <footer class="row">
            {% block widget_footer %} {% endblock %}
        </footer>
    {% endblock %}


    {% block widget_end %}
        </section>
        </div>
    {% endblock %}
{% endblock %}

