{% extends "WidgetsBundle::widget_layout.html.twig" %}

{% block widget_contnet %}

    <div class="widget-chart" id="{{ widget.name }}">

    </div>

    {% if data is defined %}
    <hidden class="chart-data-translator" data-type="chart"
            data-chart-type="{{ chartType }}" data-chart-data="{{ data|json_encode }}"
            data-name="{{ widget.name }}" data-chart-options="{{ options|json_encode }}"></hidden>
    <hidden id="chart-{{ widget.name }}"></hidden>
    {% elseif empty is defined%}
        <hidden class="empty-chart" data-content="{{ empty|json_encode }}"></hidden>
    {% endif%}
{% endblock %}