{% extends "WidgetsBundle::widget_layout.html.twig" %}

{% block widget_contnet %}

    <div class="widget-chart" id="{{ widget.name }}">

    </div>

    <input type='hidden' class="chart-data-translator" data-type="chart"
            data-chart-type="{{ chartType }}" data-chart-data="{{ data|json_encode }}"
            data-name="{{ widget.name }}" data-chart-options="{{ options|json_encode }}"/>
    <input type='hidden' id="chart-{{ widget.name }}"/>
{% endblock %}